<h1 class="mt-4" style="color: aliceblue">
  You have successfully logged in!!!
</h1>
<p class="lead mb-3" style="color: aliceblue">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-primary">Logout</a>
